<% var title = 'Experience' %>
<% include partials/header.ejs %>
	

	<select id="Continent" required >
	<option value>Continent</option>

	<% for(var i = 0; i < continents.length; i++) { %>
		<option value="<%=continents[i].id %>" <%= (continents[].nom == continent) ? 'selected' : '' %> ><%= continents[i].nom %></option>
	<% } %>
	</select><br />


	<select id="Country" required >
	<option value>Country</option>

	<% for(var i = 0; i < country.length; i++) { %>
		<option value="<%=country[i].id %>" <%= (country[].nom == country) ? 'selected' : '' %> ><%= country[i].nom %></option>
	<% } %>
	</select><br />


	<select id="City" required >
	<option value>City</option>

	<% for(var i = 0; i < city.length; i++) { %>
		<option value="<%=country[i].id %>" <%= (city[].nom == city) ? 'selected' : '' %> ><%= city[i].nom %></option>
	<% } %>
	</select><br />

	<select id="University" required >
	<option value>University</option>

	<% for(var i = 0; i < university.length; i++) { %>
		<option value="<%=university[i].id %>" <%= (university[].nom == university) ? 'selected' : '' %> ><%= university[i].nom %></option>
	<% } %>
	</select><br />

		</div>
	</ol>
	
	<input type="submit" value="Send" />
	</fieldset>
</form>
<% include partials/footer.ejs %>