<% var title = 'Experience' %>
<% include partials/header.ejs %>
<form method="post" action="/experience/<%= expid %>/<%= experiencename %>">
	<fieldset>
	<legend><%= experiencename %></legend>
	<ol>

	<% for(var i = 0; i < country.length; i++) { %>
		<div role="listitem" style="margin:1.5em;">

	<label for="<%= experience[i].id %>"><%= experience[i].texte %></label><br />
		<select name="<%= experience[i].id %>" id="<%= experience[i].id %>" <%= experience[i].optionelle ? '' : 'required' %>>
		<option value></option>
	<% for(var j=0; j < experience[i].reponses.length; j++) { %>
		<option value="<%= j %>" <%= (experience[i].prec_reponse == j) ? 'selected' : '' %> ><%= experience[i].reponses[j] %></option>
	<% } %>
		</select><br />

		</div>
	</ol>
	<input type="submit" value="Send" />
	</fieldset>
</form>
<% include partials/footer.ejs %>