<% var title = 'Experience' %>
<% include partials/header.ejs %>
	<br />
	<br />
	<div id="Selection" >
	<select id="Continent" required >
	<option value>Continent</option>

	<% for(var i = 0; i < continents.length; i++) { %>
		<option value="<%=continents[i].id %>" <%= (continents[i].nom == continent) ? 'selected' : '' %> ><%= continents[i].nom %></option>
	<% } %>
	</select> 


	<select id="Country" required >
	<option value>Country</option>

	<% for(var i = 0; i < countries.length; i++) { %>
		<option value="<%=countries[i].id %>" <%= (countries[i].nom == country) ? 'selected' : '' %> ><%= countries[i].nom %></option>
	<% } %>
	</select>


	<select id="City" required >
	<option value>City</option>

	<% for(var i = 0; i < cities.length; i++) { %>
		<option value="<%=cities[i].id %>" <%= (cities[i].nom == city) ? 'selected' : '' %> ><%= cities[i].nom %></option>
	<% } %>
	</select>

	<select id="University" required >
	<option value>University</option>

	<% for(var i = 0; i < universities.length; i++) { %>
		<option value="<%=universities[i].id %>" <%= (universities[i].nom == university) ? 'selected' : '' %> ><%= universities[i].nom %></option>
	<% } %>
	</select>
	</div>
	<br />
	<br />	
	</ol>
	<div id="Selection" >
	<input type="submit" value="Send" />
	</fieldset>
	</div>
</form>
<% include partials/footer.ejs %>