<% var title = 'Form' %>
<% include partials/header.ejs %>
<form method="post" action="/form/<%= expid %>/<%= formgroupname %>">
	<fieldset>
	<legend><%= formgroupname %></legend>
	<ol>
	<% for(var i = 0; i < formgroup.length; i++) { %>
		<div role="listitem" style="margin:1.5em;">
	<%
		switch (formgroup[i].type) {
			case 0: //SELECT
	%>
		<label for="<%= formgroup[i].id %>"><%= formgroup[i].texte %></label><br />
		<select name="<%= formgroup[i].id %>" id="<%= formgroup[i].id %>" <%= formgroup[i].optionelle ? '' : 'required' %>>
		<option value></option>
	<% for(var j=0; j < formgroup[i].reponses.length; j++) { %>
		<option value="<%= j %>" <%= (formgroup[i].prec_reponse == j) ? 'selected' : '' %> ><%= formgroup[i].reponses[j] %></option>
	<% } %>
		</select><br />
	<%		
			break;
		case 1: //CHOICE 
	%>
		<%= formgroup[i].texte %> <br />
	<% for(var j=0; j < formgroup[i].reponses.length; j++) { %>
		<input type="radio" name="<%= formgroup[i].id %>" value="<%= j %>" id="<%= j %>" <%= formgroup[i].optionelle ? '' : 'required' %> <%= (formgroup[i].prec_reponse == j) ? 'checked' : '' %> />
		<label for="<%= j %>"><%= formgroup[i].reponses[j] %></label><br />
	<% } %>
	<%		break;
			case 2: //INT
	%>
		<label for="<%= formgroup[i].id %>"><%= formgroup[i].texte %></label><br />
		<input type="number" name="<%= formgroup[i].id %>" id="<%= formgroup[i].id %>" value="<%= formgroup[i].prec_reponse %>" <%= formgroup[i].optionelle ? '' : 'required' %> />
	<%
				break;
			case 3: //TEXT
	%>
		<label for="<%= formgroup[i].id %>"><%= formgroup[i].texte %></label><br />
		<input type="text" name="<%= formgroup[i].id %>" id="<%= formgroup[i].id %>" value="<%= formgroup[i].prec_reponse %>" <%= formgroup[i].optionelle ? '' : 'required' %> />
	<%
				break;
			case 4: //EXT
	%>
		<label for="<%= formgroup[i].id %>"><%= formgroup[i].texte %></label><br />
		<select name="<%= formgroup[i].id %>" id="<%= formgroup[i].id %>" <%= formgroup[i].optionelle ? '' : 'required' %> >
		<option value></option>
	<% for(var reponse in formgroup[i].reponses) { %>
		<option value="<%= reponse %>" <%= (formgroup[i].prec_reponse == reponse) ? 'selected' : '' %> ><%= formgroup[i].reponses[reponse] %></option>
	<% } %>
		</select><br />
	<%
		}
	%>
		</div>
	<% } %>
	</ol>
	<input type="submit" value="Send" />
	</fieldset>
</form>
<% include partial/socket.io.js %>
<% include partials/footer.ejs %>
