<% var title = 'Destinations'; var current = 'dest' %>
<% include partials/header.ejs %>
	<div id="main-container">
	<div id="Selection" class = "row">
	<div class="col-md-3">
	<select class="selectpicker" id="Continent" required >
	<option value>Continent</option>


	<% for(var i = 0; i < continents.length; i++) { %>
		<option value="<%=continents[i].id %>" <%= (continents[i].nom == continent) ? 'selected' : '' %> ><%= continents[i].nom %></option>
	<% } %>
	</select>
	</div>

	<div class="col-md-3">
	<select class="selectpicker" id="Country" data-live-search="true" required >
	<option value>Country</option>

	<% for(var i = 0; i < countries.length; i++) { %>
		<option value="<%=countries[i]['country id'] %>" <%= (countries[i]['country'] == country) ? 'selected' : '' %> ><%= countries[i]['country'] %></option>
	<% } %>
	</select>
	</div>

	<div class="col-md-3">
	<select class="selectpicker" id="City" data-live-search="true" required >
	<option value>City</option>

	<% for(var i = 0; i < cities.length; i++) { %>
		<option value="<%=cities[i].id %>" <%= (cities[i].nom == city) ? 'selected' : '' %> ><%= cities[i].nom %></option>
	<% } %>
	</select>
	</div>
	<div class="col-md-3">
	<select class="selectpicker" id="Type" required >
	<option value>Type</option>
		<option value >Type</option>
		<option value="1" <%= (typ == 'School' ? 'selected' : '') %> >School</option>
		<option value="0" <%= (typ == 'Company' ? 'selected' : '') %> >Company</option>
	</select>
	</div>
	</div>
	<br>
	<div class="table-responsive">
	<table class="table table-hover table-sm" >
		<thead><tr><th>Organisation name</th><th>City</th><th>Country</th><th>Type</th><th></th></tr></thead>
	<tbody class="container">
			<% for(var i = 0 ; i < organizations.length ; i++) { %>
				<tr><td><%= organizations[i].name %></td><td><%= organizations[i].ville %></td><td><%= organizations[i].pays %></td><td><%= (organizations[i].estEcole != 0) ? 'School' : 'Company' %></td><td><a href="/show/organization/<%= organizations[i].id %>"class="btn btn-primary" >More details</a></td></tr>
			<% } %>
	</tbody>
	</table>
	</div>
	</div>
<script>
	var selectContinent = document.getElementById('Continent');
	var selectCountry = document.getElementById('Country');
	var selectCity = document.getElementById('City');
	var selectType = document.getElementById('Type');


	selectContinent.addEventListener('change', function(evt) {
		if(selectContinent.selectedIndex == 0) {
			window.location.replace('/list/organization/');
		} else {
			window.location.replace('/list/organization/'+selectContinent[selectContinent.selectedIndex].text);
		}
	});
	selectCountry.addEventListener('change', function(evt) {
		if(selectCountry.selectedIndex == 0) {
			window.location.replace('/list/organization/'+selectContinent[selectContinent.selectedIndex].text);
		} else {
			window.location.replace('/list/organization/'+selectContinent[selectContinent.selectedIndex].text+'/' + selectCountry[selectCountry.selectedIndex].text);
		}
	});
	selectCity.addEventListener('change', function(evt) {
		if(selectCity.selectedIndex == 0) {
			window.location.replace('/list/organization/'+selectContinent[selectContinent.selectedIndex].text+'/' + selectCountry[selectCountry.selectedIndex].text);
		} else {
			window.location.replace('/list/organization/'+selectContinent[selectContinent.selectedIndex].text+'/' + selectCountry[selectCountry.selectedIndex].text + '/' + selectCity[selectCity.selectedIndex].text);
		}
	});
	selectType.addEventListener('change', function(evt) {
		if(selectType.selectedIndex == 0) {
			window.location.replace('/list/organization/'+selectContinent[selectContinent.selectedIndex].text+'/' + selectCountry[selectCountry.selectedIndex].text + '/' + selectCity[selectCity.selectedIndex].text);
		} else {
			window.location.replace('/list/organization/'+selectContinent[selectContinent.selectedIndex].text+'/' + selectCountry[selectCountry.selectedIndex].text + '/' + selectCity[selectCity.selectedIndex].text + '/' + selectType[selectType.selectedIndex].text);
		}
	});

</script>
<% include partials/footer.ejs %>
