<% var title = 'Show_Experience - ' + exp.id; var current = 'dest' %>
<% include partials/header.ejs %>
<% console.log(exp); %>
<h3> Basics information </h3>


<div class="row">
	<table class="table table-bordered tableCentered" >
		<tr>
			<th>Student ID</th>
			<td> <%= exp.id_etudiant %> </td>
		</tr>
		<% if(exp.nom && exp.prenom) { %>
		<tr>
			<th>Student name </th>
			<td> <%= exp.prenom + " " + exp.nom %> </td>
		</tr>
		<% } %>
		<tr>
			<th>Age at the time of your mission</th>
			<td> <%= exp.age %> </td>
		</tr>
		<tr>
			<th>Your campus</th>
			<td> <%= (exp.campus == 0) ? "Ivry" : "Laval" %> </td>
		</tr>
		<tr>
			<th>Nature of the experience </th>
			<td> <%= exp.type_experience %> </td>
		</tr>
		<tr>
			<th> <%= (exp.estEcole) ? 'Ecole' : 'Organisation' %></th>
			<td> <%= exp.organisation %> </td>
		</tr>
		<tr>
			<th>Spoken language</th>
			<td> <%= exp.langue %> </td>
		</tr>
		<tr>
			<th>Emprunt ?</th>
			<td> <%= (exp.pret == 0) ? 'No 	loaning' %> </td>
		</tr>
		<tr>
			<th>If you did, how much did you borrow ?</th>
			<td> <%= exp.somme_empruntee %> </td>
		</tr>
	</table>
</div>


	<h3> During the experience </h3>

	<table class="table table-bordered" >
		<tr>
			<th>Price</th>
			<td> <%= exp.cout %> </td>
		</tr>
		<tr>
			<th>Location's price</th>
			<td> <%= exp.cout_location %> </td>
		</tr>
		<tr>
			<th>Food's price</th>
			<td> <%= exp.cout_alimentation %> </td>
		</tr>
		<tr>
			<th>Education's price</th>
			<td> <%= exp.cout_formation %> </td>
		</tr>
		<tr>
			<th>Agencies's price</th>
			<td> <%= exp.cout_recherche_agence %> </td>
		</tr>
	</table>

	<h3> After the experience </h3>
	<table class="table table-responsive table-striped" >
		<tr>
			<th>New skills and knowledge</th>
			<td> <%= exp.competences_acquises %> </td>
		</tr>
		<tr>
			<th>What did you do during your mission ?</th>
			<td> <%= exp.choses_faites %> </td>
		</tr>

		<tr>
			<th>Would you recommend it ?</th>
			<td> <%= exp.recommande %> </td>
		</tr>
		<tr>
			<th>Feelings about language</th>
			<td> <%= exp.ressenti_langue %> </td>
		</tr>
		<tr>
			<th>Something that surprised you</th>
			<td> <%= exp.surprise %> </td>
		</tr>
		<tr>
			<th>Something that made you angry</th>
			<td> <%= exp.made_angry %> </td>
		</tr>
		<tr>
			<th>Something that made you laugh</th>
			<td> <%= exp.made_laugh %> </td>
		</tr>
		<tr>
			<th>What did you miss the most ?</th>
			<td> <%= exp.what_missed %> </td>
		</tr>
		<tr>
			<th>Things appreciated you want to integrate now ?</th>
			<td> <%= exp.things_appreciated_want_integrate_now %> </td>
		</tr>
		<tr>
			<th>Interact same ways </th>
			<td> <%= exp.interact_same_way %> </td>
		</tr>
		<tr>
			<th>Differences time organization</th>
			<td> <%= exp.differences_time_organization %> </td>
		</tr>
		<tr>
			<th>Advice</th>
			<td> <%= exp.advice %> </td>
		</tr>
		<tr>
			<th>Most Difficult</th>
			<td> <%= exp.most_difficult %> </td>
		</tr>
		<tr>
			<th>agresso iu</th>
			<td> <%= exp.agresso_ui %> </td>
		</tr>
	</table>

<% include partials/footer.ejs %>
