<% var title = 'Show_Experience - ' + exp.id; var current = 'dest' %>
<% include partials/header.ejs %>
<h3> Basic information </h3>


<div class="row">
	<table class="table table-bordered tableCentered" >
		<tr>
			<th>Student ID</th>
			<td> <%= exp['student id'] %> </td>
		</tr>
		<% if(exp['lastname'] && exp['firstname']) { %>
		<tr>
			<th>Student name </th>
			<td> <%= exp['firstname']+ " " + exp['lastname'] %> </td>
		</tr>
		<% } %>
		<tr>
			<th>Age at the time of your mission</th>
			<td> <%= exp['age'] %> </td>
		</tr>
		<tr>
			<th>Your campus</th>
			<td> <%= (exp['campus'] == 0) ? "Ivry" : "Laval" %> </td>
		</tr>
		<tr>
			<th>Nature of the experience </th>
			<td> <%= exp['nature of the mission'] %> </td>
		</tr>
		<tr>
			<th> <%= (exp['organization is school']) ? 'Ecole' : 'Entreprise' %></th>
			<td> <%= exp['organization'] %> </td>
		</tr>
		<tr>
			<th>Country</th>
			<td><a href="/show/pays/<%= exp['country id'] %>"><%= exp['country'] %></a></td>
		</tr>
		<tr>
			<th>Accommodation</th>
			<td><a href="/show/logement/<%= exp['accomodation'] %>"><%= exp['accomodation'] || "Accomodation" %></a></td>
		</tr>
		<tr>
			<th>Spoken language</th>
			<td> <%= exp['language used'] %> </td>
		</tr>
		<tr>
			<th>Did you take a loan ?</th>
			<td> <%= (exp['borrowed money'] == 0) ? 'No' : 'yes' %> </td>
		</tr>
		<% if(exp['borrowed money'] != 0) { %>
		<tr>
			<th>If you did, how much did you borrow ?</th>
			<td> <%= exp['borrowed money'] %> </td>
		</tr>
	</table>
</div>


	<h3> During the experience </h3>

	<table class="table table-bordered" >
		<tr>
			<th>Price</th>
			<td> <%= exp['cost'] %> </td>
		</tr>
		<tr>
			<th>Location's price</th>
			<td> <%= exp['accomodation cost'] %> </td>
		</tr>
		<tr>
			<th>Food's price</th>
			<td> <%= exp['food cost'] %> </td>
		</tr>
		<tr>
			<th>Education's price</th>
			<td> <%= exp['education cost'] %> </td>
		</tr>
		<tr>
			<th>Agencies's price</th>
			<td> <%= exp['agency cost'] %> </td>
		</tr>
	</table>

	<h3> After the experience </h3>
	<table class="table table-responsive table-striped" >
		<tr>
			<th>New skills and knowledge</th>
			<td> <%= exp['new skills gained'] %> </td>
		</tr>
		<tr>
			<th>What did you do during your mission ?</th>
			<td> <%= exp['what did the student do ?'] %> </td>
		</tr>

		<% if(exp['recommend num'] != -1) { %>
		<tr>
			<th>Would you recommend it ?</th>
			<td> <%= exp['recommend txt'] %> </td>
		</tr>
		<% } %>
		<tr>
			<th>Feelings about language</th>
			<td> <%= exp['language feeling'] %> </td>
		</tr>
		<tr>
			<th>Something that surprised you</th>
			<td> <%= exp['what surprised the student'] %> </td>
		</tr>
		<tr>
			<th>Something that made you angry</th>
			<td> <%= exp['what made the student angry'] %> </td>
		</tr>
		<tr>
			<th>Something that made you laugh</th>
			<td> <%= exp['what made the student laugh'] %> </td>
		</tr>
		<tr>
			<th>What did you miss the most ?</th>
			<td> <%= exp['what the student missed'] %> </td>
		</tr>
		<tr>
			<th>Things appreciated you want to integrate now ?</th>
			<td> <%= exp['things from the country that the student really appreciated'] %> </td>
		</tr>
		<tr>
			<th>Interact same ways </th>
			<td> <%= exp['differences in the way people interact'] %> </td>
		</tr>
		<tr>
			<th>Differences time organization</th>
			<td> <%= exp['differences in the way that time is organized'] %> </td>
		</tr>
		<tr>
			<th>Advice</th>
			<td> <%= exp.advice %> </td>
		</tr>
		<tr>
			<th>Most Difficult</th>
			<td> <%= exp['most difficult to get accustomed to'] %> </td>
		</tr>
		<% if(exp['AGRESSO uid']) { %>
		<tr>
			<th>agresso iu</th>
			<td> <%= exp['AGRESSO uid'] %> </td>
		</tr>
		<% } %>
	</table>

<% include partials/footer.ejs %>
