<% var title = 'List - ' + item_name; var current = 'home' %>
<% include ../partials/header.ejs %>

<div id="main-container-noborder" >
<table>
		<% if(legend) { %>
		<tr>
			<% for(var key in legend) { %>
				<th><%= legend[key] %></th>
			<% } %>
		</tr>
		<% } %>
	<% for(var i=0; i<objects.length ;i++) { %>
		<tr>
		<% for (var key in objects[i]) { %>
			<td> <%= objects[i][key] %> </td>
		<%
		   }
		   if(allowShow) {
		%>
			<td><a href="/show/<%= item_id %>/<%= objects[i].id %>">More Details</a></td>
		<% } %>
		</tr>
	<% } %>
</table>
	<% if(allowNew) { %>
	<form method="get" action="/new/<%= item_id %>" >
		<input type="submit" value="New <%= item_name %>" />
	</form>
	<% } %>
</div>
<% include ../partials/footer.ejs %>
