<% var title = 'Create- ' + item_name; var current = 'home' %>
<% include ../partials/header.ejs %>
<% /*
	Variables :
		- legend : informations sur les formulaires issue de la configuration et de la bdd
			- legend[column_name].text config
			- legend[column_name].optionel bdd
			- legend[column_name].data_type bdd
			- legend[column_name].max_length bdd
			- legend[column_name].type config
			- legend[column_name].answers config ou bdd
			"select column_name, is_nullable, data_type, character_maximum_length from INFORMATION_SCHEMA.COLUMNS where TABLE_NAME='logement'"
*/ %>
<div id="main-container-noborder" >
<form method="post" action="/new/<%= item_name %>" id="main-form">
	<fieldset>
	<legend><%= item_name %></legend>
	<ul class="no-lis-style">
	<% for(var key in legend) { %>
		<div role="listitem" style="margin:1.5em;">
	<%
		switch (legend[key].type) {
			case 0: //SELECT
	%>
		<label for="<%= key %>"><%= legend[key].text %></label><br />
		<select name="<%= key %>" id="<%= key %>" <%= legend[key].optionel ? '' : 'required' %>>
		<option value></option>
	<% for(var value in legend[key].answers) { %>
		<option value="<%= value %>" ><%= legend[key].answers[value] %></option>
	<% } %>
		</select><br />
	<%
			break;
			case 1: //CHOICE
	%>
		<%= legend[key].text %> <br />
	<% for(var value in legend[key].answers) { %>
		<input type="radio" name="<%= key %>" value="<%= value %>" id="<%= key %>.<%= value %>" <%= legend[key].optionel ? '' : 'required' %> />
		<label for="<%= key %>.<%= value %>"><%= legend[key].answsers[value] %></label><br />
	<% } %>
	<%		break;
			case 2: //INT
	%>
		<label for="<%= key %>"><%= legend[key].text %></label><br />
		<input type="number" name="<%= key %>" id="<%= key %>" <%= legend[key].optionel ? '' : 'required' %> />
	<%
				break;
			case 3: //TEXT
	%>
		<label for="<%= key %>"><%= legend[key].text %></label><br />
		<input type="text" name="<%= key %>" id="<%= key %>" <%= legend[key].optionel ? '' : 'required' %> />
	<%
				break;
			case 5: //TEXTAREA
	%>
		<label for="<%= key %>"><%= legend[key].text %></label><br />
		<textarea name="<%= key %>" id="<%= key %>" cols="80" rows="4" <%= legend[key].optionel ? '' : 'required' %> ></textarea>
	<%
				break;
			case 4: //EXT
	%>
		<label for="id_<%= key %>"><%= legend[key].text %></label><br />
		<select name="id_<%= key %>" class="extselect selectpicker" data-live-search="true" id="id_<%= key %>" <%= legend[key].optionel ? '' : 'required' %> >
		<option value></option>
	<% for(var value in legend[key].answers ) { %>
		<option value="<%= value %>" ><%= legend[key].answers[value] %></option>
	<% } %>
		<% if(legend[key].roleNew <= role ) { %>
		<option value="new" > Create a new one </option>
		<% } %>
		</select><br />
	<%
				break;
			case 6: //BOOL
	%>
		<%= legend[key].text %> <br />
		<input type="radio" name="<%= key %>" value="1" id="<%= key %>.1" <%= legend[key].optionel ? '' : 'required' %> />
		<label for="<%= key %>.1">Yes</label><br />
		<input type="radio" name="<%= key %>" value="0" id="<%= key %>.0" <%= legend[key].optionel ? '' : 'required' %> />
		<label for="<%= key %>.0">No</label><br />
	<%			break;
		}
	%>
		</div>
	<% } %>
	</ol>
	<input type="submit" value="Send" />
	</fieldset>
</form>
</div>
<% include ../partials/createNewManager.ejs %>
<% include ../partials/footer.ejs %>
