<% var title = 'Show - ' + item_name %>
<% include ../partials/header.ejs %>

<div id="main-container-noborder" >
<a href="/util/back" >&lt; Back </a>
<table>
<% 
	for(var key in legend) { 
		if(legend[key]) {
%>
	<tr>
		<% 	
			if(typeof legend[key] == 'object') { 
				switch(legend[key].type) {
					case 'list':
		%>
		<th><%= legend[key].text %></th>
		<td>
			<ul>
		<%				for(var i=0 ; i < object[key].length ; i++) { %> 
				<li><%= object[key][i].nom %>
		<%					if(legend[key].canEdit) { %>
				<a href="/show/<%= legend[key].contentTable %>/<%= object[key][i].id %>" >(More details)</a>
		<% 					} %>
			</li>
		<%
						} 
		%>
			</ul>
		<%				
				}
		%>
		<% 	} else { %>
		<th><%= legend[key] %></th>
		<td>
		<% 		if((typeof object[key] != 'undefined') && (object[key] != null)) {
					if(typeof object[key] == 'object') { %>
				<a href="/show/<%= key %>/<%= object[key].id %>" ><%= object[key].nom %></a>
					<% } else { %>
				<%= object[key] %>
		<% 
		  		} 
		  		} else {
		%>
			Unknown
		<% 		}
			}
		%>
		</td>
	</tr>
<% 
		}
	} 
%>
</table>
<% if(allowEdit) { %>
<form method="get" action="/edit/<%= item_id %>/<%= object.id %>" class="inline-block">
	<input type="submit" value="Edit" />
</form>
<% } 
if(allowDelete) { %>
<form method="post" action="/delete/<%= item_id %>/<%= object.id %>" class="inline-block">
	<input type="submit" value="Delete" />
</form>
<% } %>
</div>

<% include ../partials/footer.ejs %> 
